.App {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.SpecsField {
    align-self: flex-start;
    width: 15%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.ResultShell {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 5%;
}

#TruckShell {
    position: absolute;
    background-color: gray;
    outline: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
}

.CargoInfo {
    margin-left: 60%;
    margin-top: 10%;
}

.InputHeight {
    width: 30%;
    margin-left: 5%;
    margin-right: 20%;
}

.InputLength {
    width: 30%;
    margin-left: 4%;
    margin-right: 20%;
}

.InputWidth {
    width: 30%;
    margin-left: 7%;
    margin-right: 20%;
}

.RadioInput {
    width: 10%;
    margin-right: 60%;
    margin-left: 5%;
}

